@import bourbon/bourbon
@import neat/neat

$mobile: max-width 400px 4
=mobile
  +media($mobile)
    @content

$tablet: max-width 768px 12
=tablet
  +media($tablet)
    @content

=gray-box
  margin: 20px 0
  +mobile
    margin: 15px 0
  padding: 10px
  border-radius: 5px
  background-color: #f0f0f0
  font-family: Courier, "Helvetica", sans-serif
  line-height: 1.3em
