@import template

.site-wrapper
  +outer-container

body > header
  padding: 10px
  min-height: 120px
  +tablet
    min-height: 100px
  +mobile
    min-height: 70px
  h1
    +span-columns(6)
    padding-top: 25px
    font-family: "Pacifico", "Helvetica Neue", "Helvetica", sans-serif
    +mobile
      +span-columns(3)
      padding-top: 15px
  #avatar
    +span-columns(6)
    text-align: right
    img    
      height: 70px
      border-radius: 50%
    +mobile
      +span-columns(1)
      img    
        height: 50px

body section 
  +span-columns(12)
  margin-bottom: 30px
  min-height: 500px
  +tablet
    padding: 0 10px
  
body > footer
  padding: 10px
  border-top: 1px solid #eaeaea


article
  margin-bottom: 50px
  header
    +outer-container
    padding: 20px 0 30px
    h1
      +span-columns(10)
    a
      color: $font-color
    .date
      +span-columns(2)
      display: inline-block
      text-align: center
      font-size: 0.8em
      .year
        font-size: 1.4em
      .category
        background-color: #eaeaea
        margin-top: 5px
    +mobile
      h1
        +span-columns(3)
      .date
        +span-columns(1)
  .content
    line-height: 130%
    +tablet
      line-height: 150%
  footer
    margin-top: 20px
    padding: 10px
    border-top: 1px solid #eaeaea
    opacity: 0.7
    text-align: right
