* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 20px "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 24px;
  color: #444444; }
  @media screen and (max-width: 768px) {
    body {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      font-size: 15px;
      line-height: 20px; }
      body:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 400px) {
    body {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%;
      font-size: 14px;
      line-height: 18px; }
      body:last-child {
        margin-right: 0; } }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.2em; }

a {
  color: #0088cc;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

pre {
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: #f7f7f7;
  border: 1px solid lightgrey;
  font-family: Courier, "Helvetica", sans-serif;
  overflow-x: auto; }
  pre::-webkit-scrollbar {
    height: 8px; }
  pre::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
  pre::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5); }

blockquote {
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: #f7f7f7;
  border: 1px solid lightgrey;
  font-family: Courier, "Helvetica", sans-serif;
  font-style: italic;
  quotes: "\201C" "\201D" "\2018" "\2019"; }
  blockquote p:first-child::before {
    content: open-quote; }
  blockquote p:last-child::after {
    content: close-quote; }

article h1, article h2 {
  font-weight: bold; }
article h1, article h2, article h3, article h4, article h5, article h6 {
  line-height: 100%; }
article h1 {
  font-size: 1.7em; }
article h2 {
  padding: 20px 0; }
article h3 {
  padding: 15px 0; }

.content p, .content ul {
  padding: 10px 0; }
.content ul {
  list-style: inherit; }
  .content ul li {
    margin-left: 40px; }

.site-wrapper {
  *zoom: 1;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto; }
  .site-wrapper:before, .site-wrapper:after {
    content: " ";
    display: table; }
  .site-wrapper:after {
    clear: both; }

body > header {
  padding: 10px;
  min-height: 120px; }
  @media screen and (max-width: 768px) {
    body > header {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      min-height: 100px; }
      body > header:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 400px) {
    body > header {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%;
      min-height: 70px; }
      body > header:last-child {
        margin-right: 0; } }
  body > header h1 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding-top: 25px;
    font-family: "Pacifico", "Helvetica Neue", "Helvetica", sans-serif; }
    body > header h1:last-child {
      margin-right: 0; }
    @media screen and (max-width: 400px) {
      body > header h1 {
        display: block;
        float: left;
        margin-right: 7.42297%;
        width: 100%;
        display: block;
        float: left;
        margin-right: 7.42297%;
        width: 73.14426%;
        padding-top: 15px; }
        body > header h1:last-child {
          margin-right: 0; }
        body > header h1:last-child {
          margin-right: 0; } }
  body > header #avatar {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
    text-align: right; }
    body > header #avatar:last-child {
      margin-right: 0; }
    body > header #avatar img {
      height: 70px;
      border-radius: 50%; }
    @media screen and (max-width: 400px) {
      body > header #avatar {
        display: block;
        float: left;
        margin-right: 7.42297%;
        width: 100%;
        display: block;
        float: left;
        margin-right: 7.42297%;
        width: 19.43277%; }
        body > header #avatar:last-child {
          margin-right: 0; }
        body > header #avatar:last-child {
          margin-right: 0; }
        body > header #avatar img {
          height: 50px; } }

body section {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 30px;
  min-height: 500px; }
  body section:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    body section {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      padding: 0 10px; }
      body section:last-child {
        margin-right: 0; } }

body > footer {
  padding: 10px;
  border-top: 1px solid #eaeaea; }

article {
  margin-bottom: 50px; }
  article header {
    *zoom: 1;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 30px; }
    article header:before, article header:after {
      content: " ";
      display: table; }
    article header:after {
      clear: both; }
    article header h1 {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 82.94039%; }
      article header h1:last-child {
        margin-right: 0; }
    article header a {
      color: #444444; }
    article header .date {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 14.70196%;
      display: inline-block;
      text-align: center;
      font-size: 0.8em; }
      article header .date:last-child {
        margin-right: 0; }
      article header .date .year {
        font-size: 1.4em; }
      article header .date .category {
        background-color: #eaeaea;
        margin-top: 5px; }
    @media screen and (max-width: 400px) {
      article header {
        display: block;
        float: left;
        margin-right: 7.42297%;
        width: 100%; }
        article header:last-child {
          margin-right: 0; }
        article header h1 {
          display: block;
          float: left;
          margin-right: 7.42297%;
          width: 73.14426%; }
          article header h1:last-child {
            margin-right: 0; }
        article header .date {
          display: block;
          float: left;
          margin-right: 7.42297%;
          width: 19.43277%; }
          article header .date:last-child {
            margin-right: 0; } }
  article .content {
    line-height: 130%; }
    @media screen and (max-width: 768px) {
      article .content {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%;
        line-height: 150%; }
        article .content:last-child {
          margin-right: 0; } }
  article footer {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #eaeaea;
    opacity: 0.7;
    text-align: right; }
